Django==4.0.1
djangorestframework 
django-cors-headers
opencv-python
av
loguru
thop
pycocotools
tabulate
detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
filterpy