body {
  color: #eee;
  background: #212121;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  padding-top: 20px;
}

.options-content {
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px
}