body {
  color: #eee;
  background: #212121;
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  padding-top: 20px;
}

.options-content {
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
}

.w-85 {
  width: 85%;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}

.w-13 {
  width: 13%;
}

.invisible {
  display: none;
}

.chart-style {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  height: 160px;
  box-shadow: 5px 5px 5px rgb(97, 97, 97);
}

.ratio-settings {
  background-color:rgb(170, 170, 170);
}

.table-striped>tbody>tr {
    background-color: white; /* Choose your own color here */
    border: solid 2px rgb(163, 163, 163);
}

.table-striped>thead>tr {
  background-color: rgb(163, 163, 163); 
  border: solid 2px grey;
}